body {
	background: #161616;
	max-width: 800px;
	margin: 0 auto;
	color: #eee;
	font-family: monospace;
	font-size: 18px;
}

code {
	background: #333;
	padding: 20px;
	font-size: 14px;
	border-radius: 8px;
	user-select: all;
}

code::before {
	content: '$ ';
}

hr {
	margin: 80px 0;
}
