body {
	background: #161616;
	max-width: 800px;
	margin: 0 auto;
	color: #eee;
	font-family: monospace;
	font-size: 18px;
	padding: 0 24px;
}

hr {
	margin: 80px 0;
}

p code {
	font-style: italic;
	font-size: 14px;
	background: #222;
	border-radius: 8px;
	padding: 2px 4px;
}
